.image-gallery {
    display: flex;
    /* width: 80%; */
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.image-gallery li {
    list-style: none;
}

.image-gallery img {
    max-height: 200px;
    margin-bottom: 15px;
}

@include media-query($on-palm) {
    .image-gallery img {
        max-height : 80px;
    }
}