.flex-container {
    display: flex;
    align-items: center;
}

#visuel-profil {

    display: inline-block;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    margin-right: 20px;

    img{
        width: 80px;
        border-radius: 50%;
    }
}

.site-title {
    font-size: 30px;
    font-weight: 800;
}

.site-slogan {
    font-size: 22px;
    font-weight: 800;
}

nav.site-nav {
    flex-grow: 10;
    text-align: right;
    text-transform: uppercase;
    font-size: 22px;



    a:hover {
        font-weight: bold;
    }
    a.active{
        text-decoration: underline;
        text-shadow: 1px 1px black;
    }
}




.site-header {
    min-height: 56px;
    position:  relative;
;
    padding: 20px 0px;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);

    #lien-accueil{
        display: none;
    }
}

.transparent-header .site-header{
    position:  absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

.transparent-header .site-header:hover{
   background-color: rgba(0, 0, 0, 0.8);
}

@include media-query($on-palm) {
    .flex-container {
        display: block;
        text-align: center;
    }
    .site-header {
        padding: 7px 0px;
        
        #visuel-profil {
            display: none;
        }

        #lien-accueil{
            display: inline-block;
        }
    }
}

