.projet{
    margin-bottom: 40px;
    margin-top: 20px;
    section {
        margin-left: 30px;
    }
}



h2{
    font-weight: 800;
}

@include media-query($on-palm) {
    .projet {
        img{
            margin-bottom: 30px;
        }
        margin-bottom: 80px;
    }
}


.link-wrapper h2{
    text-decoration: underline;
    color: black;

}

.titre-section-spectacles{
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.titre-section-spectacles:before, .titre-section-spectacles:after {
    content: "";
    flex: 1;
    border-bottom: 2px solid #000;
    margin: 15px 15px;
}




