---
title: medias
layout: default
---

  

<ul class="image-gallery">
  
  {% for file in site.static_files %}
  
  {% if file.path contains 'medias/gallery/thumbnail' %}

  <li>
    
    <a data-fslightbox="gallery" data-caption="{{ file.basename | slice: 5,200 }}"  href="/medias/gallery/{{ file.name }}" title="{{ file.basename | slice: 5,200 }}"><img src="{{ file.path | relative_url }}" alt="{{ file.basename | slice: 5,200 }}" title="{{ file.basename | slice: 5,200 }}" /></a></li>
{% endif %}
  {% endfor %}
</ul>
  
<script src="/lib/fslightbox.js"></script>



