---
title: spectacles
layout: default
---

{% for projet in site.projets %}

{% if projet.status == 'en cours' %}

<section class="flex-container projet">
    <a href="{{projet.url}}" class="link-wrapper">
        <img src="/medias/projets/{{projet.img}}" alt="" width="200">
    </a>
    <section>
        <a href="{{projet.url}}" class="link-wrapper">
            <h2>{{ projet.name }}</h2>
        </a>
        <h3>{{ projet.desc }} - {{projet.duree}} ({{projet.public}})</h3>
        <!-- {% for tag in projet.tags %}
            <span>{{tag}}, </span>
        {% endfor %} -->
        <p>{{ projet.content | markdownify }}</p>
    </section>
</section>
</a>

{% endif %}
{% endfor %}



<h2 class="titre-section-spectacles">Spectacles passés</h2>

{% for projet in site.projets %}

{% if projet.status == 'passé' %}

<section class="flex-container projet">
    <a href="{{projet.url}}" class="link-wrapper">
        <img src="/medias/projets/{{projet.img}}" alt="" width="200">
    </a>
    <section>
        <a href="{{projet.url}}" class="link-wrapper">
            <h2>{{ projet.name }}</h2>
        </a>
        <h3>{{ projet.desc }} - {{projet.duree}} ({{projet.public}})</h3>
        <p>{{ projet.content | markdownify }}</p>
    </section>
</section>
</a>

{% endif %}
{% endfor %}