<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  {% include header.html %}




  <main class="page-content">

    <!-- <nav class="wrapper">
            <a href="/spectacles"> voir tous les spectacles</a>
        </nav> -->

    <div class="wrapper main-section">

      <section class="flex-container projet">

<a data-fslightbox="gallery" data-caption="{{ file.basename }}"
              href="/medias/projets/{{page.img}}" title="{{ page.name }}">
              <img src="/medias/projets/{{page.img}}" alt="" width="200">
        
        </a>
        <section>


  <a href="/"><- retour</a>
  <br><br>




          {% assign calendarDate = page.path | slice: 7,10  %}
          {% assign day = calendarDate | date: "%-d"%} 
          {% assign monthNumber = calendarDate | date: "%-m" | minus: 1 %}
          {% assign month = site.months[monthNumber] %}
          {% assign year = calendarDate | date: "%-Y"%} 


          <h2>{{ page.name }}</h2>
          <h3>le {{day}} {{month}} {{year}} </h3>
          <p>{{ page.content | markdownify }}</p>
        </section>
      </section>

      {% if page.permalink %}

      <section>

        <ul class="image-gallery">

          {% for file in site.static_files %}

          {% if file.path contains page.permalink %}

          <li>

            <a data-fslightbox="gallery" data-caption="{{ file.basename}}"
              href="/medias/{{page.permalink}}/{{ file.name }}" title="{{ file.basename }}"><img
                src="{{ file.path | relative_url }}" alt="{{ file.basename | slice: 5,200 }}"
                title="{{ file.basename | slice: 5,200 }}" /></a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>

        
</section>

        {% endif %}
    </div>
    <script src="/lib/fslightbox.js"></script>

  </main>


  {% include footer.html %}

</body>

</html>